{% extends "base.html" %}
{% block content %}
    <!-- CSS REFERENCE -->
    <link rel="stylesheet" href="https://codepen.io/elliott-finch/pen/PeZxRv.css">
    <!-- CSS REFERENCE END -->
    <div class="col-md-12">
        <div class="header-index2">
        </div>
    </div>
    <div class="col-md-12" id="about-block">
        <h2>Who is Pet Sail?</h2>
        <p>
            That's a great question. We're a small company that provides a platform for Hotels/Resorts to promote their pet
            friendly holidays. From beach to mountain, there's definitely a pet friendly holiday out there for everyone. We
            hope to list more and more fantastic holiday destinations as we grow!
        </p>
    </div>
    <hr>
    <div class="col-md-12" id="about-block">
        <h2>
            How did Pet Sail Start?
        </h2>
        <p>
            Pet Sail was actually a small project that we started when we realised how difficult it actually is to find a trip
            where your best friend didn't have to stay at home. While Hotel websites always provide basic information, we always
            struggled to find the perfect place for us and our pets so we decided to make our own.
        </p>
    </div>
    <hr>
    <div class="col-md-12" id="about-block">
        <h2>
            How does it work for Merchants. How do I get paid?
        </h2>
        <p>
            Because we're still a small company, all our Merchant interactions are super personal. Once you register as a merchant,
            someone will contact you by email and setup a phone call to get your payment gateway setup. This way we can safely
            process payments through <a href="#">Stripe</a> and send the payment your way through bank transfers or a direct
            Credit Card payment. This ensures that even if the customer causes problems with payments, you don't have to deal
            with it, because we will!
        </p>
    </div>

{% endblock %}