{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
    <!-- CSS REFERENCE -->
    <link rel="stylesheet" type="text/css" href="../../static/custom-css/custom-css.css">
    <!-- CSS REFERENCE END -->
    <h2 id="contact-header">Want to talk to us? Contact us below!</h2>
    <p id="contact-body">No matter what your query or concern is, we'll do our best to fix the problem!</p>
    <div class="col-md-3"></div>
    <div class="col-md-6 form-style" id="contact-form-style">
    <form role="form" method="post" action="{% url 'contact_us' %}">
        {% csrf_token %}
        {{ form | as_bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Send Message!</button>
        </div>
    </form>
    </div>
    <div class="col-md-3"></div>
{% endblock %}
