{% extends "base.html" %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>
        <tbody>
            {% for ad in Ad %}
                <tr>
                    <td>{{ ad.subject }}</td>
                    <td>{{ ad.ad_summary}}</td>
                    <td>{{ ad.start_date }}</td>
                    <td>{{ ad.end_date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}