{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pet Sail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="pet">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://codepen.io/elliott-finch/pen/PeZxRv.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans|Roboto" rel="stylesheet">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="../static/custom-js/custom-js.js"></script>
    <script src="https://codepen.io/elliott-finch/pen/VxagXK"></script>
    {% block head_js %}{% endblock %}
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark" id="desktop-navig-style">
        <a class="navbar-brand" href="#"><span class="fui-settings-16 muted"><i class="fas fa-paw"></i>Pet Sail</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                <li><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <li><a class="nav-link" href="{% url 'contact_us' %}">Contact</a></li>
                <li><a class="nav-link" href="{% url 'adlisting' %}">Holiday Listings</a></li>
                {% if user.is_authenticated %}
                {% if user.is_merchant == 'Yes' %}
                <li><a class="nav-link" href="{% url 'merchant' %}">Profile</a></li>
                <li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
                <li><a class="nav-link" href="{% url 'logout' %}">Log Out</a></li>
                {% endif %}
                {% else %}
                <li><a class="nav-link" href="{% url 'register' %}">Register</a></li>
                <li><a class="nav-link" href="{% url 'login' %}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <hr>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <hr>

    <div class="footer">
        <div class="row">
        <div class="col-md-6">
            <p>Made by Heinrich Hohbach for Stream 3 </p>
        </div>
        <div class="col-md-6 social-tags">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
            <i class="fab fa-github-square"></i>
        </div>
        </div>
    </div>
</div>
</body>

</html>