{% extends 'base.html' %}
{% block content %}
    <div class="index-body col-md-12">
        <div class="header-index">
        <h1 class="centerme">Welcome to Pet Sail</h1>
        <h2 class="centerme" id="header-quote">Set sail with Pet Sail!</h2>
        </div>

        <div class="row" id="index-row-style">
        <section class="col-md-6" id="intro-section">
            <h2>What is Pet Sail?</h2>
            <h6>click the title for more info!</h6>
            <p>
                We all know the struggles of taking your pet on holiday. You either can't find a hotel that allows your pets
                or the ones that do are way too overpriced. Sadly there aren't that many places that are pet friendly, but
                there are some great places that are!
                <br><br>
                Look no further! Pet Sail is the perfect place for you. Here on Pet Sail we bring Merchants and Holiday lovers together.
                Our site allows people to list their Holiday opportunities so you can find the perfect getaway for your family.
                Finally your pet doesn't have to stay at home. They can come along!
            </p>
        </section>
        <section class="col-md-6" id="more-info-section">
            <h2>Are you a Merchant?</h2>
            <h6>click the title for more info!</h6>
            <p>
                This is the perfect place for you. On Pet Sail you can list your holiday getaways and see the customers rolling in.
                Once you register, one of our team members will get you all setup so once you place an ad we'll sort all the payment
                with you.
            </p>
            <h2>Are you a Holiday Seeker?</h2>
            <h6>click the title for more info!</h6>
            <p>
                Find endless amounts of Holiday trips for you and your pets! Pet Sail gives you so many options that you'll
                never want to leave your pet at home ever again. It's a great place to browse ads for holidays. AND it's all
                safe!
            </p>
        </section>
        </div>
    </div>
{% endblock %}